.search-input {
  width: 80%;
  height: 30px;
  padding: 10px;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 5px; 
  margin: 20px auto; 
}

.suggestions {
  width: 80%;
  max-height: 200px;
  border: 2px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  overflow-y: auto;
  background-color: #fff;
  position: absolute;
  z-index: 1000;
  text-align: center; 
  left: 152px;
  top: 114px;
  border-radius: 5px;
}

.suggestion-item {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-bottom: 1px solid #ccc; 
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

.topWrapper{ 
  margin: 10px auto;
  text-align: center;

}


.cardWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: center;
}

.mainCard {
  width: 220px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  color: #000;
}

.mainCard img {
  max-width: 100%;
  max-height: 150px;
  object-fit: cover;
}

.mainCard h6 {
  font-size: 16px;
  margin: 10px 0;
}

.mainCard h4 {
  font-size: 20px;
  color: #e74c3c;
}

.mainCard div {
  margin-top: 10px;
  font-size: 14px;
  color: #999;
}
